*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__header{
    width: 100%;
    color: white;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.main__navBar{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    color: white;
}

.main__navBar  a{
    color: white;
    text-decoration: none;
}